{% extends 'Japp/index.html' %}

{% block title %}Create{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'create' %}" method="o=post">
                    {{ c_form }}
                </form>
            </div>
            <div class="col-md-6">
                <form action="{% url 'create' %}" method="o=post">
                    {{ o_form }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}